= render 'header'
.contents
  .contents__cover
    .contents__cover__left.list-cover
      - @list_1.each do |todo|
        = render 'todo-card', {todo: todo}
      .todo-card-new.js-1
        = form_for [@board, @todo], html:{id: "ajax-todo"} do |f|
          = f.hidden_field :list, value: "1"
          = f.check_box :check, class: "checkbox"
          = f.date_field :limit, class: "limit-date"
          = f.text_area :text, class: "todo-text"
          = f.submit "追加", class: "submit-btn"
          = link_to board_todos_path do
            .fa.fa-times.fa-lg
      .todo-btn.list-1
        %p.btn-text
          カードを追加
    .contents__cover__center.list-cover
      - @list_2.each do |todo|
        = render 'todo-card', {todo: todo}
      .todo-card-new.js-2
        = form_for [@board, @todo], html:{id: "ajax-todo"} do |f|
          = f.hidden_field :list, value: "2"
          = f.check_box :check, class: "checkbox"
          = f.date_field :limit, class: "limit-date"
          = f.text_area :text, class: "todo-text"
          = f.submit "追加", class: "submit-btn"
          = link_to board_todos_path do
            .fa.fa-times.fa-lg
      .todo-btn.list-2
        %p.btn-text
          カードを追加
    .contents__cover__right.list-cover
      - @list_3.each do |todo|
        = render 'todo-card', {todo: todo}
      .todo-card-new.js-3
        = form_for [@board, @todo], html:{id: "ajax-todo"} do |f|
          = f.hidden_field :list, value: "3"
          = f.check_box :check, class: "checkbox"
          = f.date_field :limit, class: "limit-date"
          = f.text_area :text, class: "todo-text"
          = f.submit "追加", class: "submit-btn"
          = link_to board_todos_path do
            .fa.fa-times.fa-lg
      .todo-btn.list-3
        %p.btn-text
          カードを追加
= render 'footer'
